---
import Header from "../components/header/Header.astro";
import "../style/index.css";
import Main from "../components/main/main.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content=" Anthony Ortega técnico superior en Desarrollo de Aplicaciones Multiplataforma (DAM).
Con experiencia en frontend con Angular, Astro, Next.js, HTML, CSS y JavaScript, así como en backend con Java, Node.js y MySQL.
Busco mi primera oportunidad profesional para seguir creciendo como desarrollador y aportar soluciones eficientes y bien diseñadas."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://anthonyjortega.github.io/" />
    <meta property="og:site_name" content="Anthony Ortega" />
    <meta property="og:title" content="Anthony Ortega Portafolio" />
    <meta
      property="og:image"
      content="https://anthonyjortega.github.io/img/preview-page.webp"
    />

    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous"></script>
    <title>Portafolio | Anthony Ortega</title>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
